<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>WALKING WITH...</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map_canvas">
      
  </div>
  <div id="over_map">

    <div *ngFor="let mapLabel of mapLabels">
      <button [style.top.px]=mapLabel.point.top [style.left.px]=mapLabel.point.left style="position: fixed;" ion-button (click)="mapLabel.action($event)">{{mapLabel.title}}</button>
    </div>
  </div>
  <button *ngIf="showVideoPlay" ion-button (click)="onButtonClick($event)">Play video</button>
  <div [innerHtml]="iframe_html"></div>
</ion-content>
