<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title *ngIf="restRouteProvider.getRoutePageNumber()==1">Walking Back in Time</ion-title>
    <ion-title *ngIf="restRouteProvider.getRoutePageNumber()==2">Walking with {{tourGuide}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div id="map_canvas">
      
  </div>
  <div id="over_map">

    <div *ngFor="let mapLabel of mapLabels">
      <!-- <button [style.top.px]=mapLabel.point.top [style.left.px]=mapLabel.point.left style="position: fixed;" ion-button (click)="mapLabel.action($event)">{{mapLabel.title}}</button> -->
      <button  [hidden]="!mapLabel.visible" [style.top.px]=mapLabel.point.top [style.left.px]=mapLabel.point.left style="position: fixed;" ion-button [ngClass]="{ 'grey': !mapLabel.selected, 'white': mapLabel.swapTourAllowed, 'red': mapLabel.redColor}" (click)="playVideo(mapLabel.vimeo,mapLabel.time,mapLabel.endtime,mapLabel.title)">{{mapLabel.title}}</button>
    </div>
      
    <div>
      <!--<button [style.top.px]=mapLocationMarker.top [style.left.px]=mapLocationMarker.left style="position: fixed;" ion-button >here</button> -->
      <div [style.top.px]=mapLocationMarker.top [style.left.px]=mapLocationMarker.left style="position: fixed;">
        <lottie-animation-view [options]="markerAnimationOption"></lottie-animation-view>
      </div>
    </div>
  </div>
  <!-- <button *ngIf="showVideoPlay" ion-button (click)="onButtonClick($event)">Play video</button> -->

  <div *ngIf="showVideoPlay" class="modal">
    <div class="holder">
      <div class="closeBtn" (click)="closeVideo()"><img src="assets/imgs/close.png" /></div>
      <img class="userIcon" src="assets/imgs/user.png" />
      <h2>{{tourGuide}}</h2>
      <h5>{{pointTitle}}</h5>
      <h5>--</h5>
      <h5 style="font-style: italic;">"{{subtitleText}}"</h5>
      <div class="videoHolder">
        <div class="video" [innerHtml]="iframe_html"></div>
        <img class="minimise" src="assets/imgs/minimise.png" />
      </div>
    </div>
  </div>
  <div class="footerGuide"><i>WALK TO A MARKER TO LISTEN</i></div>
  <button class="footerSwapTour" [hidden]="!swapTour" (click)="changeTour(swapTourID)"><i>{{footerSwapTourText}}</i></button>
</ion-content>
