page-demoApp {
    background-color:black; 
    canvas{
        background-color:black; 
    }

    .scroll-content{
        padding: 10px 0 !important;
        margin: auto;
        text-align: center;
        color: #FFFF22;
        font-size: 24px;
        font-weight: 900;
        background-color:black;
    }

    .content-md {
        background-color: #000 !important;
    }
}
